a:not(.button) {
	color: $link-color !important;
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}

a.button {
	color: $text-color-primary !important;
	cursor: pointer;
	margin: 0;
	font-size: 2em;
	text-decoration: none;
}