a:not(.button,.close-reveal-modal) {
	color: $link-color;
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}

a.button {
	color: $text-color-primary;
	cursor: pointer;
	margin: 0;
	text-decoration: none;
}