div,span,p,label,h1,h2,h3,h4,h5,h6,a,table{
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Gentium Book Basic', serif !important;
	color: $text-color-primary !important;
}

label {
	color: $text-color-primary;
}

a {
	color: $link-color;
	font-weight: bold;
}

a[data-nav-target] {
	color: $text-color-primary;
	font-weight: normal;
}

h1, h2, h3, h4, h5, h6, .header-button {
	color: $text-color-primary !important;
}

.center{
	display: block;
	margin-left: auto !important;
	margin-right: auto !important;
}

.row{
	margin-top: 15px;
	margin-bottom: 15px;
}


div.important
{
	border-style : Solid;
	border-color : #000000;
	border-color : rgba(0, 0, 0, 1);
	border-width : 1px;
	background-color: rgba(0, 0, 0, 0.5);
	padding-left: 5px;
	padding-right: 4px;
}

