.leftNavigation {
	overflow-y: auto;
	overflow-x: hidden;

	a {
		color: $text-color-primary;
		display: block;
		font-size: 1.5em;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 7px;
		white-space: nowrap;
	}

	a.active {
		background-color: rgba(0,0,0,0.5);
	}

	a:hover:not(.active){
		background-color: rgba(255,255,255,0.5);
	}

	[data-reveal-id="whatIsParkourModal"]{
		background-color: rgba(255, 115, 0, 0.35);
	}
}