.leftNavigation {
	overflow-y: auto;
	overflow-x: hidden;

	.nav-button {
		color: $text-color-primary;
		display: block;
		font-size: 1.5em;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 14px;
		white-space: nowrap;
	}

	.nav-button.active {
		background-color: rgba(0,0,0,0.5);
		border-left: #008CBA 7px solid;
		padding-left: 7px;
	}

	.nav-button:hover:not(.active){
		background-color: rgba(255,255,255,0.5);
	}

	.nav-button.display-modal{
		background-color: rgba(255, 115, 0, 0.35);
	}
}