$blue-primary: #004EB2 rgb(0, 78, 178);
$text-color-primary: #EEE;
$link-color: #02ABF8;


@import 'home';
@import 'general';
@import 'responsiveLayout';
@import 'foundationCustom';
@import 'leftNavigation';
@import 'header';
@import 'textSize';
@import 'listStyles';
@import 'index';
@import 'modals';
@import 'buttons';
@import 'pageCss/pageCss';


