html {
  font-size: 16px; }

body {
  font-family: 'Gentium Book Basic', serif !important;
  color: #EEE !important; }

label {
  color: #EEE; }

a {
  color: #02ABF8;
  font-weight: bold; }

a[data-nav-target] {
  color: #EEE;
  font-weight: normal; }

a:not(.button, .button-link) {
  color: #02ABF8 !important;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer; }

a.button {
  color: #EEE !important;
  cursor: pointer; }

a.button-link {
  margin-top: 30px;
  font-size: 2em;
  text-decoration: none; }

p {
  margin-bottom: 0.5rem; }

h1, h2, h3, h4, h5, h6, .header-button {
  color: #EEE !important; }

#background {
  background: url(../img/friendsdarkened.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.main-section {
  padding-left: 0px !important;
  padding-right: 0px !important;
  height: 100%;
  overflow-y: auto; }

#main .section-title {
  margin: 0;
  background-color: rgba(23, 27, 99, 0.25); }

.center {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important; }

/* Makes the off-canvas navigation menu highlight properly */
aside .off-canvas-list li.active {
  background-color: #008CBA; }

ul.list-indent {
  margin-left: 20px; }

ul.plain {
  list-style-type: none; }

.title {
  white-space: nowrap;
  text-overflow: ellipsis; }

.reveal-modal {
  background-color: #333333; }

div.important {
  border-style: Solid;
  border-color: #000000;
  border-color: black;
  border-width: 1px;
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 5px;
  padding-right: 4px; }

#loginRevealer {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0px;
  right: 0px;
  z-index: 2; }

@media screen and (max-width: 640px) {
  .header {
    display: none; }
  .leftNavigation {
    display: none; }
  .stuff {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px; } }

@media screen and (min-width: 641px) {
  .header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 42px; }
  .leftNavigation {
    position: absolute;
    top: 42px;
    bottom: 0px;
    left: 0px;
    width: 200px; }
  .stuff {
    position: absolute;
    top: 42px;
    bottom: 0px;
    left: 200px;
    right: 0px; } }

.off-canvas-wrap {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px; }

.inner-wrap {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px; }

.leftNavigation {
  border-right: 1px solid black;
  overflow-y: auto;
  overflow-x: hidden; }
  .leftNavigation a {
    color: #EEE;
    display: block;
    font-size: 1.5em;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 7px;
    white-space: nowrap; }
  .leftNavigation a.active {
    background-color: rgba(0, 0, 0, 0.5); }
  .leftNavigation a:hover:not(.active) {
    background-color: rgba(255, 255, 255, 0.5); }
  .leftNavigation [data-reveal-id="whatIsParkourModal"] {
    background-color: rgba(255, 115, 0, 0.35); }

.header {
  position: relative; }
  .header .logo {
    background-image: url("../img/ParkourEndure.png");
    background-repeat: no-repeat;
    height: 100%;
    width: 500px; }
    .header .logo a {
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0; }
  .header .social-media-section {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 500px;
    overflow: hidden; }
    @media screen and (max-width: 1024px) {
      .header .social-media-section .social-media {
        height: 100%;
        width: auto;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 4px;
        float: left; }
        .header .social-media-section .social-media .social-media-icon {
          height: 35px;
          width: 35px; }
        .header .social-media-section .social-media a {
          display: block;
          width: 100%;
          height: 100%; } }
    @media screen and (min-width: 1025px) {
      .header .social-media-section .social-media {
        height: 100%;
        width: auto;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 4px;
        float: left; }
        .header .social-media-section .social-media .social-media-icon {
          height: 35px;
          width: 35px;
          float: left; }
        .header .social-media-section .social-media .social-media-text {
          padding-left: 4px;
          padding-right: 4px;
          padding-top: 3px;
          width: 195px;
          height: 100%;
          float: left; }
          .header .social-media-section .social-media .social-media-text p {
            line-height: 95%; }
        .header .social-media-section .social-media a {
          display: block;
          width: 100%;
          height: 100%; } }
    .header .social-media-section .social-media:hover {
      background-color: rgba(255, 255, 255, 0.5); }
    .header .social-media-section a {
      color: #EEE; }

html {
  font-size: 16px; }

@media screen and (max-width: 640px) {
  h1 {
    font-size: 2rem; }
  h2 {
    font-size: 1.8rem; }
  h3 {
    font-size: 1.5rem; }
  h4 {
    font-size: 1.3rem; }
  h5 {
    font-size: 1rem; }
  h6 {
    font-size: 0.8rem; }
  .text-xlarge {
    font-size: 2rem !important; }
    .text-xlarge p, .text-xlarge span, .text-xlarge div, .text-xlarge li, .text-xlarge ul, .text-xlarge a {
      font-size: 2rem; }
  .text-large {
    font-size: 1.8rem !important; }
    .text-large p, .text-large span, .text-large div, .text-large li, .text-large ul, .text-large a {
      font-size: 1.8rem; }
  .text-medium {
    font-size: 1.5rem !important; }
    .text-medium p, .text-medium span, .text-medium div, .text-medium li, .text-medium ul, .text-medium a {
      font-size: 1.5rem; }
  .text-normal {
    font-size: 1.3rem !important; }
    .text-normal p, .text-normal span, .text-normal div, .text-normal li, .text-normal ul, .text-normal a {
      font-size: 1.3rem; }
  .text-small {
    font-size: 1rem !important; }
    .text-small p, .text-small span, .text-small div, .text-small li, .text-small ul, .text-small a {
      font-size: 1rem; }
  .text-xsmall {
    font-size: 0.8rem !important; }
    .text-xsmall p, .text-xsmall span, .text-xsmall div, .text-xsmall li, .text-xsmall ul, .text-xsmall a {
      font-size: 0.8rem; } }

@media screen and (min-width: 641px) {
  h1 {
    font-size: 2rem; }
  h2 {
    font-size: 1.8rem; }
  h3 {
    font-size: 1.5rem; }
  h4 {
    font-size: 1.3rem; }
  h5 {
    font-size: 1rem; }
  h6 {
    font-size: 0.8rem; }
  .text-xlarge {
    font-size: 2rem !important; }
    .text-xlarge p, .text-xlarge span, .text-xlarge div, .text-xlarge li, .text-xlarge ul, .text-xlarge a {
      font-size: 2rem; }
  .text-large {
    font-size: 1.8rem !important; }
    .text-large p, .text-large span, .text-large div, .text-large li, .text-large ul, .text-large a {
      font-size: 1.8rem; }
  .text-medium {
    font-size: 1.5rem !important; }
    .text-medium p, .text-medium span, .text-medium div, .text-medium li, .text-medium ul, .text-medium a {
      font-size: 1.5rem; }
  .text-normal {
    font-size: 1.3rem !important; }
    .text-normal p, .text-normal span, .text-normal div, .text-normal li, .text-normal ul, .text-normal a {
      font-size: 1.3rem; }
  .text-small {
    font-size: 1rem !important; }
    .text-small p, .text-small span, .text-small div, .text-small li, .text-small ul, .text-small a {
      font-size: 1rem; }
  .text-xsmall {
    font-size: 0.8rem !important; }
    .text-xsmall p, .text-xsmall span, .text-xsmall div, .text-xsmall li, .text-xsmall ul, .text-xsmall a {
      font-size: 0.8rem; } }

@media screen and (min-width: 1025px) {
  h1 {
    font-size: 2rem; }
  h2 {
    font-size: 1.8rem; }
  h3 {
    font-size: 1.5rem; }
  h4 {
    font-size: 1.3rem; }
  h5 {
    font-size: 1rem; }
  h6 {
    font-size: 0.8rem; }
  .text-xlarge {
    font-size: 2rem !important; }
    .text-xlarge p, .text-xlarge span, .text-xlarge div, .text-xlarge li, .text-xlarge ul, .text-xlarge a {
      font-size: 2rem; }
  .text-large {
    font-size: 1.8rem !important; }
    .text-large p, .text-large span, .text-large div, .text-large li, .text-large ul, .text-large a {
      font-size: 1.8rem; }
  .text-medium {
    font-size: 1.5rem !important; }
    .text-medium p, .text-medium span, .text-medium div, .text-medium li, .text-medium ul, .text-medium a {
      font-size: 1.5rem; }
  .text-normal {
    font-size: 1.3rem !important; }
    .text-normal p, .text-normal span, .text-normal div, .text-normal li, .text-normal ul, .text-normal a {
      font-size: 1.3rem; }
  .text-small {
    font-size: 1rem !important; }
    .text-small p, .text-small span, .text-small div, .text-small li, .text-small ul, .text-small a {
      font-size: 1rem; }
  .text-xsmall {
    font-size: 0.8rem !important; }
    .text-xsmall p, .text-xsmall span, .text-xsmall div, .text-xsmall li, .text-xsmall ul, .text-xsmall a {
      font-size: 0.8rem; } }

#coaches .coach {
  margin-bottom: 20px; }
  #coaches .coach img {
    max-height: 260px; }

#email-list .emailListRow {
  display: block;
  width: 100%; }

#email-list .emailContainer {
  width: 70%;
  float: left;
  vertical-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0; }

#email-list .emailButtonContainer {
  width: 30%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  position: relative; }
  #email-list .emailButtonContainer button {
    position: absolute;
    top: 50%;
    transform: translateY(50%); }

[background-image] {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: -2; }

[background-image="adult-class"] {
  background: url(../img/railvault.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

[background-image="kids-class"] {
  background: url(../img/kidvaultingdarkened.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.background-image-filter {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: black;
  opacity: 0.3;
  z-index: -1; }
