<div id="error404" class="small-12">
	<div class="small-12 medium-6 medium-offset-3 large-4 large-offset-4">
		<p>404 - Oh gosh, this is embarassing...</p>
		<p>
			The page you were looking for seems to not exist anymore. A spelling error in the URL, perhaps? If you reached this page via a link, it's probably our fault. Please <a href="{{$location.host()}}/contact">send us an email</a> to let us know we need to fix something.
		</p>
		<p> In any case, feel free to continue browsing the website.</p>
	</div>
</div>

<script type="text/javascript">
	$("[data-nav-target]").removeClass('active');
</script>