<h1 class="section-title text-center">Parkour Classes in Scranton, Pennsylvania</h1>
<div id="adult-classes" class="center small-11 medium-10">
	<p class="text-xlarge">Beginner Adult Classes (ages 14+, 2 hours)</p>
	<div class="center text-justify text-medium">
		<p>
			Come learn your true potential. You'll walk away from this session with the ability to view your surroundings in a different light (or in the cases of night training, a lack thereof).
		</p>
		<p>
			 You'll never see everyday surroundings the same way again!
		</p>
	</div>

	<div class="center text-normal">
		<table>
			<tr>
				<td>
					<p>Location: </p>
				</td>
				<td>
					<p>
						University of Scranton. The closest address is 960 Mulberry Street, Scranton, PA. Meet us near the intersection of Quincy Avenue and Mulberry Street. Parking is available along Quincy Avenue.
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Time: </p>
				</td>
				<td>
					<p>
						Every Sunday promptly at 3:00pm until 5:00pm. Be on time! We may leave the meeting area and it might be difficult to find us.
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Cost: </p>
				</td>
				<td>
					<p>
						Classes cost $20 for an individual. Every time you bring someone new, you get $10 off for that class. No monthly contract or obligation.
					</p>
				</td>
			</tr>
		</table>

		<p class="text-small">
			Classes with Parkour Endure are led by coaches certified through <a href="http://adaptqualifications.com/">A.D.A.P.T</a>. You are guaranteed the highest quality parkour coaching offered in the region. If it would be your first class with Parkour Endure, please call John at (717) 343-4727 so you know what you need to bring.
		</p>
	</div>

	<div class="center text-normal">
		<p class="text-large">Free Play Sessions:</p>
		<p>
			Students of the Beginner Adult classes and Private Lessons are invited to the weekly Free Play sessions. 
		</p>
		<p>
			These free sessions are pure camaraderie and exploration. Open training sessions, or "jams", are great opportunities to go back to the roots of how parkour started: outside, unorganized, being challenged by friends, and being challenged with friends.
		</p>
	</div>

	<p class="text-small">
		Classes and lessons are conducted through Parkour Endure, LLC. And Parkour Endure considers anyone from ages 14 years and above to be eligible for adult classes. If you or your child are 13 years of age or younger, please look at our <a href="{{$location.host()}}/kids-classes">Kids Classes</a>.
	</p>
</div>


<script type="text/javascript">
	$("[data-nav-target]").removeClass('active');
	$("[data-nav-target='adult-classes']").addClass('active');
</script>