<h1 class="section-title text-center">Adult Parkour Classes in Scranton</h1>
<div id="adult-classes" class="center small-12">
	
	<div class="row text-medium">
		<div class="columns">
			<p>
				Even as we grow up, there is still value in play. You might be the parent of a child in one of our kids classes, or someone interested in augmenting their fitness. Regardless, you'll walk away from these classes knowing a lot more about both your capabilities and your potential.
			</p>
		</div>
	</div>

	<div class="row text-normal">
		<div class="columns">
			<table>
				<tr>
				<td colspan="2"><p><strong>Endure Program (Ages 15 and up)</strong></p></td>
				</tr>
				<tr>
					<td><p>Meeting Place:</p></td>
					<td><p>McDade Park. Meet us in the pavillion next to the playground.</p></td>
				</tr>
				<tr>
					<td><p>Time:</p></td>
					<td>
						<p>
							Every Tuesday promptly at 6:30pm until 8:00pm. Be on time! We may leave the meeting area and it might be difficult to find us.
						</p>
					</td>
				</tr>
				<tr>
					<td><p>Bring:</p></td>
					<td>
						<ul>
							<li>Water</li>
							<li>Exercise clothing like sweatpants or gym shorts</li>
							<li>A small bag to carry your personal belongings</li>
							<li>A signed <a target="_blank" href="{{$location.host()}}/pdf/WaiverAdult.pdf">Adult</a> or <a target="_blank" href="{{$location.host()}}/pdf/WaiverMinor.pdf">Child</a> waiver for your first class. <span class="text-small">For students 17 years of age or younger, a parent or legal guardian must be present when the waiver is turned in.</span></li>
							<li>Your positive attitude :)</li>
						</ul>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="row text-normal">
		<div class="columns">
			<a href="#" data-reveal-id="adultEnrollModal" class="button text-large center">
				Click here to see pricing and enroll!
			</a>
		</div>
	</div>

	<div class="row">
		<div class="columns">
			<p class="text-small">
				Classes and lessons are conducted through Parkour Endure, LLC. And Parkour Endure considers anyone from ages 14 years and above to be eligible for adult classes. If you or your child are 14 years of age or younger, please look at our <a href="{{$location.host()}}/kids-classes">Kids Classes</a>.
			</p>
		</div>
	</div>
</div>

<div id="adultEnrollModal" class="reveal-modal large" data-reveal>
	<p class="text-large">Adult Enrollment</p>
	<div class="row text-normal">
			Classes with Parkour Endure are led by coaches certified through <a href="http://adaptqualifications.com/">A.D.A.P.T</a>. You are guaranteed the highest quality parkour coaching offered in the region.
	</div>

	<div class="row text-medium">
		<p>There are currently two ways to enroll:</p>
		<p class="text-normal"><strong>By Email: ParkourEndure@gmail.com</strong></p>
		<p class="text-normal">OR</p>
		<p class="text-normal"><strong>By Phone Call: (717) 343-4727</strong></p>
		<p class="text-normal">You'll be talking to John George. If there is no answer, please leave a message.</p>
	</div>

	<div class="row">
		<p class="text-medium">Pricing</p>
		<ul class="list-indent text-normal">
			<li>If you are a parent or guardian of a child in any of our classes, the Endure Program is free to you.</li>
			<li>For everyone else, the classes are just $10.</li>
		</ul>
	</div>

	<div class="row text-normal">
		<table style="margin: 0 auto;">
		<tr><td colspan="3" class="text-center">You may either</td></tr>
		<tr>
			<td>Pay in cash on-site</td>
			<td>OR</td>
			<td>
				<div>
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="4SA6GDXRESQSL">
					<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
					<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
					</form>
				</div>
			</td>
		</tr>
		</table>
	</div>

	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<script type="text/javascript">
	$("[data-nav-target]").removeClass('active');
	$("[data-nav-target='adult-classes']").addClass('active');
</script>
