<h1 class="section-title text-center">Scranton Parkour Contact Information</h1>
<div id="contact" class="center small-11 medium-10 large-8">
	<div class="text-medium text-center center">
		<div>
			<span>Phone: (717) 343-4727</span>
		</div>
		<div>
			<span>Email: ParkourEndure@gmail.com</span>
		</div>
		<div>
			<span>Location: Scranton, Pennsylvania Area</span>
		</div>
	</div>
</div>

<script type="text/javascript">
	$("[data-nav-target]").removeClass('active');
	$("[data-nav-target='contact']").addClass('active');
</script>