<h1 class="section-title text-center">Administration: Email List</h1>
<div id="email-list" class="small-12">
	<div class="text-medium" ng-controller="AdminEmailListController">
		<div class="center">
			<div class="emailListRow" ng-repeat="email in emails">
				<div class="emailContainer">
					<p class="email">{{email.email}}</p>
				</div>
				
				<div class="emailButtonContainer">
					<button ng-click="removeEmail(email._id)">Delete</button>
				</div>
				<p style="clear: both;"></p>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$("[data-nav-target]").removeClass('active');
	$("[data-nav-target='contact']").addClass('active');
</script>