<h1 class="section-title text-center">Frequently Asked Questions</h1>
<div id="faq" class="center small-12">

	<div class="row columns">
		<p class="text-large"><strong>Do I have to be in shape to start learning parkour?</strong></p>
		<p class="text-medium">Absolutely not! Parkour is for ANYBODY! Anybody of any age, gender, or fitness level can learn parkour. I know parkour videos on YouTube are dominated by young, athletic-looking males. In reality <a href="http://pkgamericas.com/see-do/">this is NOT the case.</a> The truth is that parkour is a fantastic tool for getting INTO shape! Scranton Parkour will help you set realistic goals and encourage you to achieve them in fun and fulfilling ways!</p>
	</div>

	<div class="row columns">

	</div>

</div>

<script type="text/javascript">
	$("[data-nav-target]").removeClass('active');
	$("[data-nav-target='faq']").addClass('active');
</script>