<h1 class="section-title text-center">Frequently Asked Questions</h1>
<div id="faq" class="center small-12">

	<div class="row">
		<div class="columns">
			<p class="text-large"><strong>Do I have to be in shape to start learning parkour?</strong></p>
			<p class="text-medium">Absolutely not! Parkour is for ANYBODY! Anybody of any age, gender, or fitness level can learn parkour. I know parkour videos on YouTube are dominated by young, athletic-looking males. In reality <a href="https://www.washingtonpost.com/lifestyle/wellness/parkour-for-older-folks-awakens-body-and-mind/2013/06/18/120f14e6-d214-11e2-a73e-826d299ff459_story.html">this is NOT the case.</a> The truth is that parkour is a fantastic tool for getting INTO shape! Scranton Parkour will help you set realistic goals and encourage you to achieve them in fun and fulfilling ways!</p>
		</div>
	</div>

	<div class="row">
		<div class="columns">
			<p class="text-large"><strong>Is parkour safe?</strong></p>
			<p class="text-medium">Parkour is one of the safest physical activities around.</p>
			<p class="text-medium">Let's compare parkour injury with other sports.</p>
			<ul class="text-normal list-indent">
				<li><a href="http://liu.diva-portal.org/smash/get/diva2:352677/FULLTEXT01.pdf">Football</a> - 8 injuries per 1000 hours of training. The most common injuries are muscle strains and ligament sprains.</li>
				<li><a href="http://bjsm.bmj.com/content/38/2/168.full">Soccer</a> - 12 injuries per 1000 hours of training. The most common injuries are muscle and ligament strains in the legs.</li>
				<li><a href="http://bjsm.bmj.com/content/38/2/168.full">Rugby</a> - 12 injuries per 1000 hours of training. The most common injuries are leg, head, and neck injuries.</li>
				<li><a href="http://www.ncbi.nlm.nih.gov/pubmed/23860830">Parkour</a> - 5 injuries per 1000 hours of training. The most common injuries are cuts and scrapes.</li>
			</ul>
			<p class="text-medium">With the precautionary measures taken by Scranton Parkour, the frequency of injury will be reduced even further.</p>
		</div>
	</div>

	<div class="row">
		<div class="columns">
		<p class="text-large"><strong>I am a girl. Can I do parkour?</strong></p>
		<p class="text-medium">The answer is an unequivocable <strong>YES!</strong></p>
		<p class="text-medium">An unfortunate effect of the internet, the media, and the portrayal of parkour "competitions" is that parkour is geared towards males. <a href="http://pkgamericas.com/see-do/">This is NOT the case.</a></p>
		<p class="text-medium">Every human has a potential they can reach, and one of the major goals of parkour is to strive towards your own personal potential. There is no gender-divide in the goals of fun, a sense of community, and self improvement.</p>
		</div>
	</div>

</div>

<script type="text/javascript">
	$("[data-nav-target]").removeClass('active');
	$("[data-nav-target='faq']").addClass('active');
</script>