<h1 class="section-title text-center">Scranton Parkour Classes</h1>
<div id="home" class="center small-12">
	<div class="row">
		<p class="text-medium">Here at Scranton Parkour, we offer quality Parkour classes for both children and adults of all skill levels.</p>
	</div>
	
	<div class="row">
		<p class="text-large">Why practice Parkour?</p>
	</div>

	<div class="row text-medium">
		<p>
			What parkour offers that most disciplines do not is an insight into the very basics of movement. Whether you are a star athlete, cross-training from a separate discipline, or just beginning your fitness training, there is something in parkour for you.
		</p>
	</div>
	
	<div class="row center">
		<div class="text-center text-xlarge">
			<p>
				To Be and To Last
			</p>
		</div>
	</div>

	<div class="row center">
		<p class="text-center text-large">Would you like to learn?</p>
		<div class="columns small-6">
			<a href="{{$location.host()}}/adult-classes" class="button text-large center">
				View our Adult Classes
			</a>
		</div>
		<div class="columns small-6">
			<a href="{{$location.host()}}/kids-classes" class="button text-large center">
				View our Kids Classes
			</a>
		</div>
		
	</div>
</div>

<script type="text/javascript">
	$("[data-nav-target]").removeClass('active');
	$("[data-nav-target='home']").addClass('active');
	$(document).foundation('reveal', 'reflow');
</script>