<h1 class="section-title text-center">A Parkour Community in Scranton, Pennsylvania</h1>
<div id="home" class="center small-11 medium-10 large-10">
	<h2 class="text-medium">Here at Scranton Parkour, we offer quality Parkour classes for both children and adults of all skill levels.</h2>

	<p class="text-large">Why practice Parkour?</p>
	<div class="center">

		<div class="text-justify center text-medium">
			<p>
				What parkour offers that most disciplines do not is an insight into the very basics of movement. Whether you are a star athlete, practicing a different discipline, or just beginning your fitness training, there is something in parkour for you.
			</p>
		</div>

		<div class="text-center text-xlarge">
			<p>
				To Be and To Last
			</p>
		</div>
	</div>

	<div class="center">
		<p class="text-center text-large">Would you like to learn?</p>
		<a href="{{$location.host()}}/adult-classes" class="button text-large center">
			Click here to find out more!
		</a>
	</div>
</div>

<script type="text/javascript">
	$("[data-nav-target]").removeClass('active');
	$("[data-nav-target='home']").addClass('active');
	$(document).foundation('reveal', 'reflow');
</script>