<h1 class="section-title text-center">Kids Group Parkour Classes in Scranton</h1>

<div id="kids-classes" class="center text-medium small-12">
	
	<div class="row text-large">
		<div class="columns">
			<p>
				It is a child's natural instinct to explore and discover. Parkour can help your child learn to do just that in a structured and goal-oriented way that is both fun and engaging. Both confidence and creativity will skyrocket!
			</p>
		</div>
	</div>

	<div class="row">
		<div class="columns large-4 large-centered show-for-large-up">
			<image src="/img/kidvaultingdarkened.jpg" alt="Kid doing parkour over wall" />
		</div>
	</div>

	<div class="row text-normal">
		<div class="columns">
			<table>
				<tr>
					<td colspan="2"><p><strong>Explore Program (Ages 7-11)</strong></p></td>
				</tr>
				<tr>
					<td><p>Time:</p></td>
					<td>
						<p>
							Every Sunday at 3:00pm until 4:00pm.
						</p>
					</td>
				</tr>
				<tr>
					<td><p>Description:</p></td>
					<td>
						<p>
							Your child will learn to explore their surroundings in the form of games and group exercises. They will learn how to stand up to peer pressure and how to find fun in challenges.
						</p>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row text-normal">
		<div class="columns">
			<table>
				<tr>
					<td colspan="2"><p><strong>Discover Program (Ages 12-14)</strong></p></td>
				</tr>
				<tr>
					<td><p>Time:</p></td>
					<td>
						<p>
							Every Sunday at 4:30pm until 6:00pm.
						</p>
					</td>
				</tr>
				<tr>
					<td><p>Description:</p></td>
					<td>
						<p>
							Entering their adolescent years, your child will be encouraged to seek and discover what their movement means to them. They will be introduced to the art of goal-setting and shown the value of patience and hard work.
						</p>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="row text-normal">
		<div class="columns text-normal">
			<a href="#" data-reveal-id="kidsEnrollModal" class="button text-large center">
				Click here to see pricing and enroll your child!
			</a>
		</div>
	</div>

	<div class="row">
		<div class="columns">
			<p>
				The meeting location for every class is McDade Park. Meet us in the pavillion next to the playground.
			</p>
		</div>
	</div>

	<div class="row">
		<div class="columns">
			<p>
				Download waivers here: <a target="_blank" href="{{$location.host()}}/pdf/WaiverAdult.pdf">Adult</a> or <a target="_blank" href="{{$location.host()}}/pdf/WaiverMinor.pdf">Child</a>.
			</p>
		</div>
	</div>

	<div class="row">
		<div class="columns">
			<p class="text-small">
				Classes and lessons are conducted through Parkour Endure, LLC. And Parkour Endure considers anyone from ages 7 to 14 years old to be eligible for kids classes. If you or your child are 15 years of age or older, please look at our <a href="{{$location.host()}}/adult-classes">Adult Classes</a>.
			</p>
		</div>
	</div>
</div>

<div id="kidsEnrollModal" class="reveal-modal large" data-reveal>
	<p class="text-large">Kids Enrollment</p>
	<div class="row text-small">
		Classes with Parkour Endure are led by coaches certified through <a href="http://adaptqualifications.com/">A.D.A.P.T</a>. You are guaranteed the highest quality parkour coaching offered in the region.
	</div>

	<div class="row text-normal">
		<p>To enroll your child, he or she must complete an Introductory Class</p>
		<p class="text-small">An Introductory Class is a one-on-one session with the coach and the prospective student. The parents are encouraged to be present so everyone can be briefed about what can be expected during the regular classes.</p>
		<p>To schedule an Introductory Class, please either:</p>
	</div>

	<div class="row text-normal">
		<p>Send an email to <strong>ParkourEndure@gmail.com</strong></p>
		<p>OR</p>
		<p>Give the Head Coach, John George, a call at <strong>(717) 343-4727</strong></p>
	</div>

	<div class="row">
		<p class="text-medium">Pricing</p>
		<ul class="list-indent text-normal">
			<li>One Kid's Class (including the Introductory Class) is $20</li>
			<li>Get one class free by purchasing a 5-class Bundle for $80!</li>
		</ul>
	</div>

	<div class="row text-normal">
		<table style="margin: 0 auto;">
		<tr><td colspan="3" class="text-center">You may either</td></tr>
		<tr>
			<td>Pay in cash on-site</td>
			<td>OR</td>
			<td>
				<div>
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="Q6KJKKY5TMW4N">
					<table>
					<tr><td><input type="hidden" name="on0" value="Kid's Class Payment Options">Kid's Class Payment Options</td></tr><tr><td><select name="os0">
						<option value="Kid's Single Class">Kid's Single Class $20.00 USD</option>
						<option value="Kid's 5-Class Bundle">Kid's 5-Class Bundle $80.00 USD</option>
						<option value="Kid's Introductory Class">Kid's Introductory Class $20.00 USD</option>
						<option value="Kid's Introductory Class + 4 Classes">Kid's Introductory Class + 4 Classes $80.00 USD</option>
					</select> </td></tr>
					</table>
					<input type="hidden" name="currency_code" value="USD">
					<input style="display: block; margin: 0 auto;" type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
					<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
					</form>

				</div>
			</td>
		</tr>
		</table>
	</div>

	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>


<script type="text/javascript">
	$("[data-nav-target]").removeClass('active');
	$("[data-nav-target='kids-classes']").addClass('active');
</script>