<h1 class="section-title text-center">Kids Parkour Classes</h1>

<div id="kids-classes" class="center text-medium small-11 medium-10">
	<p class="text-large">Kids Discovery!</p>
	<div>
		<p>
			It is a child's natural instinct to explore and discover. Parkour can help your child learn to do just that in a structured and goal-oriented way that is both fun and engaging.
		</p>
	</div>

	<div class="center text-normal">
		<table>
			<tr>
				<td colspan="2"><p><strong>Explore Program (Ages 7-10)</strong></p></td>
			</tr>
			<tr>
				<td><p>Time:</p></td>
				<td>
					<p>
						Every Sunday at 3:00pm until 4:30pm. Try to arrive 15 minutes early for check-in!
					</p>
				</td>
			</tr>
			<tr>
				<td><p>Description:</p></td>
				<td>
					<p>
						Class Description
					</p>
				</td>
			</tr>
		</table>
		<table>
			<tr>
				<td colspan="2"><p><strong>Discover Program (Ages 11-13)</strong></p></td>
			</tr>
			<tr>
				<td><p>Time:</p></td>
				<td>
					<p>
						Every Sunday at 5:00pm until 6:30pm. Try to arrive 15 minutes early for check-in!
					</p>
				</td>
			</tr>
			<tr>
				<td><p>Description:</p></td>
				<td>
					<p>
						Class Description
					</p>
				</td>
			</tr>
		</table>
		<table>
			<tr>
				<td colspan="2"><p><strong>Endure Program (Ages 14-16)</strong></p></td>
			</tr>
			<tr>
				<td><p>Time:</p></td>
				<td>
					<p>
						Every Sunday at 5:00pm until 6:30pm. Try to arrive 15 minutes early for check-in!
					</p>
				</td>
			</tr>
			<tr>
				<td><p>Description:</p></td>
				<td>
					<p>
						Class Description
					</p>
				</td>
			</tr>
		</table>

		<table>
			<tr>
				<td>
					<p>
					<strong>
						The meeting location for every class is McDade Park. Meet us in the pavillion next to the playground.
					</strong>
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<p><strong>Make sure to bring:</strong></p>
					<ul>
						<li>Water</li>
						<li>Exercise clothing like sweatpants or gym shorts</li>
						<li>A small bag to carry your personal belongings</li>
						<li>A signed <a target="_blank" href="{{$location.host()}}/pdf/WaiverAdult.pdf">Adult</a> or <a target="_blank" href="{{$location.host()}}/pdf/WaiverMinor.pdf">Child</a> waiver for your first class. <span class="text-small">For students 17 years of age or younger, a parent or legal guardian must be present when the waiver is turned in.</span>
						<li>Your positive attitude :)</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>
					<p>
						Classes are $20 for an individual. $15 for University and College students (must have student ID). Every time you bring someone new, you pay only $10 for that class. No monthly contract or obligations.
					</p>
				</td>
			</tr>
		</table>

		<p class="text-small">
			Classes with Parkour Endure are led by coaches certified through <a href="http://adaptqualifications.com/">A.D.A.P.T</a>. You are guaranteed the highest quality parkour coaching offered in the region. If it would be your first class with Parkour Endure, please call John at (717) 343-4727 so you know what you need to bring.
		</p>
	</div>

	<p class="text-small">
		Classes and lessons are conducted through Parkour Endure, LLC. And Parkour Endure considers anyone from ages 6 to 13 years old to be eligible for kids classes. If you or your child are 14 years of age or older, please look at our <a href="{{$location.host()}}/adult-classes">Adult Classes</a>.
	</p>
	<div class="background-filter"></div>
	<div class="background"></div>
</div>


<script type="text/javascript">
	$("[data-nav-target]").removeClass('active');
	$("[data-nav-target='kids-classes']").addClass('active');
</script>