<h1 class="section-title text-center">Kids Parkour Classes</h1>

<div id="kids-classes" class="center text-medium small-11 medium-10">
	<p class="text-large">Kids Discovery!</p>
	<div>
		<p>
			It is a child's natural instinct to explore and discover. Parkour can help your child learn to do just that in a structured and goal-oriented way that is both fun and engaging.
		</p>
	</div>

	<div class="section text-normal">
		<table>
			<tr>
				<td colspan="2"><p><strong>Explore Program (Ages 7-11)</strong></p></td>
			</tr>
			<tr>
				<td><p>Time:</p></td>
				<td>
					<p>
						Every Sunday at 3:00pm until 4:00pm.
					</p>
				</td>
			</tr>
			<tr>
				<td><p>Description:</p></td>
				<td>
					<p>
						Your child will learn to explore their surroundings in the form of games and group exercises. They will learn how to stand up to peer pressure and how to fund fun in challenge.
					</p>
				</td>
			</tr>
		</table>
	</div>

	<div class="section text-normal">
		<table>
			<tr>
				<td colspan="2"><p><strong>Discover Program (Ages 12-14)</strong></p></td>
			</tr>
			<tr>
				<td><p>Time:</p></td>
				<td>
					<p>
						Every Sunday at 4:30pm until 6:00pm.
					</p>
				</td>
			</tr>
			<tr>
				<td><p>Description:</p></td>
				<td>
					<p>
						Entering their adolescent years, your child will be encouraged to seek and discover what their movement means to them. They will be introduced to the art of goal-setting and shown the value of patience and hard work.
					</p>
				</td>
			</tr>
		</table>
	</div>

	<div class="section text-normal">
		<a href="#" data-reveal-id="kidsEnrollModal" class="button text-large center">
			Click here to enroll your child!
		</a>
	</div>

	<div class="section text-normal">
		<table>
			<tr>
				<td>
					<p>
					<strong>
						The meeting location for every class is McDade Park. Meet us in the pavillion next to the playground.
					</strong>
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<p><strong>Make sure to bring:</strong></p>
					<ul>
						<li>Water</li>
						<li>Clothing that is good to move around in</li>
						<li>A small bag to carry your personal belongings (such as your water)</li>
						<li>A signed <a target="_blank" href="{{$location.host()}}/pdf/WaiverAdult.pdf">Adult</a> or <a target="_blank" href="{{$location.host()}}/pdf/WaiverMinor.pdf">Child</a> waiver for your first class. <span class="text-small">For students 17 years of age or younger, a parent or legal guardian must be present when the waiver is turned in.</span>
						<li>Your positive attitude :)</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>
					<p>
						Classes are $20 for an individual. $15 for University and College students (must have student ID). Every time you bring someone new, you pay only $10 for that class. No monthly contract or obligations.
					</p>
				</td>
			</tr>
		</table>

		<p class="text-small">
			Classes with Parkour Endure are led by coaches certified through <a href="http://adaptqualifications.com/">A.D.A.P.T</a>. You are guaranteed the highest quality parkour coaching offered in the region. If it would be your first class with Parkour Endure, please call John at (717) 343-4727 so you know what you need to bring.
		</p>
	</div>

	<p class="text-small">
		Classes and lessons are conducted through Parkour Endure, LLC. And Parkour Endure considers anyone from ages 6 to 13 years old to be eligible for kids classes. If you or your child are 14 years of age or older, please look at our <a href="{{$location.host()}}/adult-classes">Adult Classes</a>.
	</p>
	<div class="background-filter"></div>
	<div class="background"></div>
</div>

<div id="kidsEnrollModal" class="reveal-modal large" data-reveal>
	<p class="text-large">Kids Enrollment</p>
	<p class="text-large">
		There are currently two ways to enroll:
	</p>

	<div class="section">
		<p><strong>An Email:</strong></p>
		<p>Email ParkourEndure@gmail.com and provide the following info:</p>
		<ul class="list-indent">
			<li>Your full name:</li>
			<li>Your child's name and age:</li>
			<li>A phone number you can be contacted at:</li>
		</ul>
	</div>

	<div class="section">
		<p><strong>A Phone Call:</strong></p>
		<p>Give the head coach, John George, a quick call!</p>
		<p>Be prepared to give the following information:</p>
		<ul class="list-indent">
			<li>Your full name:</li>
			<li>Your child's name and age:</li>
			<li>Your goals for your child:</li>
			<li>When your child can start classes!</li>
		</ul>
	</div>

	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>


<script type="text/javascript">
	$("[data-nav-target]").removeClass('active');
	$("[data-nav-target='kids-classes']").addClass('active');
</script>