<h1 class="section-title text-center">Private Lessons in Scranton, Pennsylvania</h1>
<div id="private-lessons" class="center small-11 medium-10 large-8">
	<p class="text-large">Private lessons are popular among:</p>
	<div class="center text-normal">
		<ul class="list-indent">
			<li>
				Parents with children who are not yet old enough for the <a href="{{$location.host()}}/adult-classes">Adult Classes</a>. Give your children a head start for the kids classes that are in the works!
			</li>
			<li>
				People cross-training from other disciplines and practices such as martial arts or sports.
			</li>
			<li>
				People who want specialized instruction for specific goals.
			</li>
			<li>
				Groups of friends who want to give parkour a shot together.
			</li>
		</ul>
	</div>
	<p class="text-medium">
		If you have a choice between training solo and training with a group, definitely train with a group whether it's with the group classes or you drag friends to a group private lesson. The opportunities to laugh and smile with each other during group sessions is what makes training worth it!
	</p>
	<p class="text-medium">
		To set up group private lessons or solo private lessons, contact the head coach, John George. You can find his contact information on the <a href="{{$location.host()}}/contact">Contact Us</a> page.
	</p>

	<p class="text-small">
		Classes and lessons are conducted through Parkour Endure, LLC. And Parkour Endure considers anyone from ages 6 to 13 years old to be eligible for kids classes. If you or your child are 14 years of age or older, please look at our <a href="{{$location.host()}}/adult-classes">Adult Classes</a>.
	</p>
	
</div>

<script type="text/javascript">
	$("[data-nav-target]").removeClass('active');
	$("[data-nav-target='private-lessons']").addClass('active');
</script>