<html ng-app='ParkourEndureApp' ng-controller="MainController">
  <head>
    <title>Scranton Parkour - A parkour community for the Scranton and Wilkes-Barre area</title>
    <link href="http://parkourendure.com" rel="canonical" />
    <link rel="author" href="humans.txt" />
    <meta name="description" content="Parkour classes in Scranton and Wilkes-Barre Pennsylvania. Scranton Parkour offers classes for both kids and adults." />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel='stylesheet' href='/normalize-css/normalize.css' />
    <link rel="stylesheet" id="google-font-lato-css" href="//fonts.googleapis.com/css?family=Lato%3A400%2C300%2C700%7CGentium+Book+Basic&amp;ver=1.0" type="text/css" media="all">
    <link rel='stylesheet' href='/css/foundation.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <base href="/" />
  </head>
  <body id="background">
    
    <div class="off-canvas-wrap" data-offcanvas="">
      <div class="inner-wrap">
        <div class="header">
          
          <div class="logo show-for-medium-up">
            <a href="{{$location.host()}}/">
            </a>
          </div>

          <div class="social-media-section">
            <a href="https://www.facebook.com/groups/1609497595970045/" target="_blank">
              <div class="social-media">
                <img class="social-media-icon" src="/img/facebook.png" />
                <div class="social-media-text show-for-large-up">
                  <p>Facebook is our primary communication. Join us!</p>
                </div>
              </div>
            </a>
            <a href="http://www.meetup.com/Scranton-Parkour-Fitness-Community/"  target="_blank">
              <div class="social-media">
                <img class="social-media-icon" src="/img/MeetupSmall.png" />
                <div class="social-media-text show-for-large-up">
                  <p>Our events are posted on Meetup! Check us out!</p>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="leftNavigation">
          <a class="nav-button" data-nav-target="home" href="{{$location.host()}}/">Home</a>
          <a class="nav-button" data-nav-target="adult-classes" href="{{$location.host()}}/adult-classes">Adult Classes</a>
          <a class="nav-button" data-nav-target="kids-classes" href="{{$location.host()}}/kids-classes">Kids Classes</a>
          <a class="nav-button" data-nav-target="coaches" href="{{$location.host()}}/coaches">The Coaches</a>
          <a class="nav-button" data-nav-target="contact" class="contact-nav" href="{{$location.host()}}/contact">Contact Us</a>
          <a class="nav-button display-modal" data-reveal-id="whatIsParkourModal" data-nav-target href="#">What is Parkour?</a>

          <div class="center text-justify text-normal small-11" ng-controller="EmailListController">
            <p>
              Be sure to join our mailing list to stay up-to-date about special events!
            </p>

            <div ng-if="!newEmail.submittedEmail">
              <div class="center small-12">
                <label> 
                  Email address:
                </label>
                <input type="text" ng-model="newEmail.email" placeholder="abc@email.com" />
              </div>
              <div>
                <a class="center button text-xsmall" ng-click="submitEmail()">Submit Email</a>
              </div>
            </div>
            <div ng-if="newEmail.submittedEmail">
              <div class="text-small">
                <div>You submitted {{newEmail.submittedEmail}}</div>
                <button class="center text-xsmall" ng-click="undoEmailSubmit()">Undo</button>
                <button class="center text-xsmall" ng-click="acceptEmailSubmit()">Okay</button>
              </div>
            </div>
          </div>
        </div>

        <div class="stuff">
          <div id="loginRevealer" data-reveal-id="loginModal" data-nav-target></div>
          <nav class="tab-bar show-for-small-only">
            <section class="left-small">
              <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
            </section>
            
            <section class="middle tab-bar-section">
                  <h1 class="title">Parkour Classes in Scranton</h1>
            </section>
          </nav>

          <section class="main-section">
            <div id="content" class="main-section small-12">
              <div id='main'>
                <div ng-view></div>
              </div>
            </div>
          </section>
        </div>
      
        <aside class="left-off-canvas-menu">
          <ul class="off-canvas-list">
            <li><label>Navigation</label></li>
            <li data-nav-target="home"><a href="{{$location.host()}}/">Home</a></li>
            <li data-nav-target="adult-classes"><a href="{{$location.host()}}/adult-classes">Adult Classes</a></li>
            <li data-nav-target="kids-classes"><a data-nav-target="kids-classes" href="{{$location.host()}}/kids-classes">Kids Classes</a></li>
            <li data-nav-target="coaches"><a href="{{$location.host()}}/coaches">The Coaches</a></li>
            <li data-nav-target="contact"><a href="{{$location.host()}}/contact">Contact Us</a></li>
            <li><a data-reveal-id="whatIsParkourModal" href="#">What is Parkour?</a></li>
          </ul>
        </aside>
      
        <a class="exit-off-canvas"></a>
      </div>
    </div>

  <div id="loginModal" class="reveal-modal small" data-reveal ng-controller="LoginController">
    <div ng-show="Page.isLoggedIn()">
      <p>Already Logged In!</p>
      <p><a class="close-modal" href="{{$location.host()}}/admin/email-list">Admin Email List</a></p>
      <p><a class="close-modal" href="{{$location.host()}}/admin/coach-list">Coach List</a></p>
      <p><a href="{{$location.host()}}/logout">Click here to log out</a></p>
    </div>
    <div ng-show="!Page.isLoggedIn()">
      <p class="text-large">Log In</p>
      <input type="text" ng-model="newLogin.username" />
      <input type="password" ng-model="newLogin.password" />
      <button ng-click="attemptLogin()">Log In</button>
      <button id="signupRevealer" data-reveal-id="signupModal" data-nav-target>Create Account</button>
    </div>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>

  <div id="signupModal" class="reveal-modal small" data-reveal ng-controller="SignUpController">
    <p class="text-large">Sign Up</p>
    <input type="text" ng-model="newSignup.username" />
    <input type="password" ng-model="newSignup.password" />
    <button ng-click="attemptSignup()">Sign Up</button>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>

  <div id="whatIsParkourModal" class="reveal-modal medium" data-reveal>
    <p class="text-center text-large"><strong>What is Parkour?</strong></p>
    <div class="row text-normal">
      In a nutshell, parkour is a discipline of movement that focuses on self-improvement through creative use of the practitioner's surroundings.
    </div>
    <div class="row text-normal">
      There are a few main ideas that make parkour stand out from other physical disciplines and sports.
    </div>
    <div class="row text-large"><strong>Core Values</strong></div> 
    <div class="row text-normal text-center"><strong>Perseverance, Courage, Humility, Integrity, Respect</strong></div>
    <div class="row text-normal">
      Traditional sports end at the sound of a buzzer, a certain score is reached, or when the opponent taps out. In parkour, the game never ends. With even occasional training and dedication, parkour's Five Core Values become part of your everyday life.
    </div>
    <div class="row text-large"><strong>Autonomy</strong></div>
    <div class="row text-normal">
      A parkour practitioner has no adversary or opponent to focus on. The only tools you need are the shirt on your back and a pair of shoes. The world is your playing field and your mind is your opponent. Parkour is a discipline that can be practiced in a completely individualistic manner, but it doesn't have to be.
    </div>
    <div class="row text-large"><strong>Discovery</strong></div>
    <div class="row text-normal">
      Not only is parkour about finding places to train or moves to try, but also it is about tapping into the creative side of yourself. Exploration helps us learn our capabilities and areas of improvement. It also helps us find fun and creative ways to approach various obstacles, whether they be physical or otherwise.
    </div>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>

  <div id="ImportantMessageModal" class="reveal-modal medium" data-reveal>
    <div class="row">
      <p class="text-medium"><strong>There will be no classes on May 22nd or May 29th due to graduations and Memorial Day.</strong></p>
    </div>
    <div class="row">
      <p class="text-normal">
        Classes will resume on June 5th.
      </p>
    </div>
      
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>

  <script src='/jquery/dist/jquery.js'> </script>
  <script src='/angular/angular.min.js'> </script>
  <script src='/angular-resource/angular-resource.min.js'> </script>
  <script src='/angular-route/angular-route.min.js'> </script>
  <script src='/modernizr/modernizr.js'></script>
  <script src='/foundation/js/foundation/foundation.js'></script>
  <script src='/foundation/js/foundation/foundation.offcanvas.js'></script>
  <script src='/foundation/js/foundation/foundation.topbar.js'></script>
  <script src='/foundation/js/foundation/foundation.reveal.js'></script>
  <script src='/app.js'> </script>
  <script src='/main.js'> </script>
  <script src='/js/analytics.js'></script>
  <script src='/js/foundation-helper.js'></script>
  <script src='/js/index.js'></script>

  </body>
</html>
